body{
    margin: 0;
    padding: 0;
}
.header{
    position: sticky;
    top: 0;
    display: flex;
    padding: 10px 0;
    padding-left: 20px;
    background-color: #d4a373;
    outline-color: black;
    outline-width: 50px;
    outline-style: auto;
    z-index: 1000;
    justify-content: space-between;
}

.header .title{
    margin: 0;
    padding: 0;
    padding-left: 10%;
    padding-top: 10px;
    color: white;
}

.header ul{
    padding-left: 30px;
    list-style: none;
}

.header li{
    display: inline;
}

.header ul li a{
    color: white;
    padding: 0 10px;
    font-size: 14px;
    text-decoration: none;
}